#iconCenter {
  text-align: center;
  margin-top: 20px;
}
#submitBtn:hover {
  background-color: green;
  color: #fff;
  border-radius: 0.2em;
}
#submitBtn {
  border-radius: 0.2em;
  height: 40px;
  width: 100px;
  font-size: 1em;
}
.marginBot {
  margin-bottom: 30px;
  text-align: center;
}
h3 {
  color: green;
}
ul li {
  list-style-type: none;
  font-weight: bold;
}
.hoverColor:hover {
  background-color: lightblue;
}
#userDataWithTable {
  width: 100%;
}
#tableCenter {
  display: flex;
  justify-content: center;
}
table,
tr,
th,
td {
  border: 1px solid black;
  background-color: lightblue;
  text-align: center;
}
#fName {
  border-radius: 0.2em;
  height: 30px;
}
#lName {
  border-radius: 0.2em;
  height: 30px;
}
#email {
  border-radius: 0.2em;
  height: 30px;
}
#password {
  border-radius: 0.2em;
  height: 30px;
}
.container{
  display: flex;
  justify-content: space-between;
}
a{
  text-decoration: none;
  color: blue;
}
#homePageBtn{
  background-color: blue;
  color: #fff;
  font-size: 1.2em;
  border-radius: .5em;
  margin-right: 30px;
  height: 40px;
}
#homePageBtn:hover{
  box-shadow: 3px 2px black;
  cursor: pointer;
}