*{
  font-family: Helvetica;
  background-color: rgb(240, 237, 233);
}
#email {
  width: 75%;
  height: 40px;
  border: 1px solid gainsboro;
  border-radius: 0.2em;
}
#email:hover {
  background-color: lightblue;
}
#password {
  width: 75%;
  height: 40px;
  border: 1px solid gainsboro;
  border-radius: 0.2em;
}
#password:hover {
  background-color: lightblue;
}
#login {
  width: 75%;
  height: 40px;
  text-align: center;
  background-color: blue;
  color: #fff;
  border: 0;
  border-radius: 0.2em;
}
#login:hover {
  box-shadow: 3px 3px 3px black;
}
#btnBg {
  background-color: green;
  width: 35%;
  height: 45px;
  border: 0;
  border-radius: 0.2em;
  color: #fff;
}
#btnBg:hover {
  box-shadow: 2px 2px 2px black;
}
#forgots {
  color: blue;
  font-weight: 500;
}
a {
  text-decoration: none;
}
#notNow {
  color: blue;
  font-weight: 500;
}
#nav_blue {
  border: 0ch;
  border-radius: 00.2em;
}
#nav_style {
  font-size: 2em;
}
#nav_style:hover{
  text-shadow: 1px 1px green;
}
#backToHome {
  width: 100px;
  padding-top: 3px;
  height: 30px;
  background-color: green;
  color: #fff;
  text-align: center;
  border: 0ch;
  border-radius: 0.2em;
}
#backToHome:hover {
  box-shadow: 2px 2px 2px black;
}
