*{
  font-family:Helvetica;
}
.container{
  display: flex;
  margin-top: 30px;
  align-items: center;
}

img {
  width: 80%;
  height: 400px;
}
#imageCenter {
  text-align: center;
}
#iconCenter {
  text-align: center;
}
#button {
  color: #fff;
  background-color: #000;
  border-radius: 0.3em;
}
#passwordWarning {
  color: red;
}
#fNameWarn {
  color: red;
}
#lNameWarn {
  color: red;
}
#userDataHeader {
  font-size: xx-large;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: green;
  color: wheat;
}
ul li {
  list-style-type: none;
  font-weight: bold;
}
p{
  font-weight: bold;
}
#modalColor{
  background-color: rgb(220, 243, 255);
}
@keyframes blink {
  50% {
    opacity: 0;
  }
  80% {
    opacity: 0.5;
  }
}
.blinking{
  /* animation: blink 2s linear infinite; */
  font-size: 2em;
  font-weight: bolder;
  font-family: cursive;
}
#signInBtn{
  color: blue;
  font-size: 1.5em;
  text-align: center;
  margin-top: 30px;
  cursor: pointer;
}
#signInBtn:hover{
  text-shadow: 1px 1px black;
}
@media(max-width:992px) {
  .container{
    flex-direction: column;

  }
}